:root {
  --mainGreen: #2A722D;
  --lightGreen: #00FD2D;
  --mainWhite: #EAEAEA;
  --mainDark: #232528;
  --mainDark: #000;
  --mainYellow: #8000FF;
}

body {
  font-family: 'Montserrat Alternates', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainGreen);
}
.text-bright {
  color: var(--lightGreen);
}
.fa-bug{
  color: var(--mainGreen);
}
.section-filter{
  border-bottom: 0.1rem solid var(--lightGreen) !important;
  padding:5px;
}
.navbar {
  justify-content: flex-start !important;
}
.btn-inCart {
  font-size: 1.4rem;
}
.btn-cartPlus {
  font-size: 1.6rem;
}
.btn-cartTotal{
  font-family: 'Dosis', sans-serif;
  font-size: 1.4rem;
}
.btn-count {
  background: var(--lightGreen) !important;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainGreen) !important;
  border-radius: 0 !important;
  border: 0.1rem solid var(--lightGreen) !important;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainGreen);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainGreen) !important;
}
.btn-black:hover {
  background: var(--mainGreen) !important;
  color: var(--mainWhite) !important;
  cursor: pointer;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-link {
  color: var(--lightGreen);
  text-align: center;
}

.App-link:hover {
  color: var(--mainGreen);
  text-decoration: none;
}
